# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
# OPENAI_API_KEY="<your-openai-api-key>"
GROQ_API_KEY=
MISTRAL_API_KEY=
TAVILY_API_KEY=
UPLOADTHING_TOKEN=
UPLOADTHING_SECRET=
PINECONE_API_KEY=
PINECONE_INDEX=